.home__page {
  display: flex !important;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}

.buttons__line {
  border-right: 1px solid #d8d8d8;
  height: 200px !important;
}

.buttons__page {
  width: 100%;
  max-width: 268px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.tweets__page {
  width: 100%;
  max-width: 870px;
  overflow-y: scroll;
  scrollbar-width: none !important;
  // scrollb
  flex-direction: row !important;
}
::-webkit-scrollbar {
  display: none;
}

.trends__page {
  width: 100%;
  max-width: 373px;
}
