.buttons__line {
  border-right: 1px solid #d8d8d8;
  height: 200px !important;
}

.buttons__page {
  width: 100%;
  max-width: 268px;
  position: sticky;
  top: 0;
}

.tweets__page {
  width: 100%;
  max-width: 870px;
  height: 100vh;
}

.trends__page {
  width: 100%;
  max-width: 373px;
}
