.trends__input {
  outline: none;
  border: none;
  background-color: transparent;
}

// .trens__wrapper {
//   width: 100%;
// }

.trends__input::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #5c6c79;
}

.trends__form {
  padding: 11px 0 11px 21px;
  background: #eff3f4;
  border-radius: 31px;
}

.trends__list {
  margin-top: 20px;
  padding: 15px;
  background: #f7f9f9;
  border-radius: 10px;
}

.trends__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
}

.trend__follow {
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #393b41;
  opacity: 0.6;
}

.trend__revo {
  margin: 10px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  color: #000000;
}

.trens__item + .trens__item {
  margin-top: 10px;
}

.user__name {
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  color: #000000;
}

.user__subname {
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #000000;
  opacity: 0.6;
}

.trends__follows {
  padding: 7px 10px;
  text-decoration: none;
  background: #000000;
  border-radius: 50px;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  color: #ffffff;

  &:hover {
    color: #fff;
  }
}

.follows__item + .follows__item {
  margin-top: 15px;
}
