@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Twitter";
  font-style: normal;
//   font-weight: 400;
  src: url("../../assets/fonts/twitterchirp.ttf"); /* IE9 Compat Modes */
}
